
# build files
build
*.a
example/bin/libs
example/bin/example
example/bin/example_debug

# mac Finder index files
.DS_*

# mac apps
*.app*

# xcode user project files
*.pbxuser
*.perspectivev3
*.mode1*v3
xcuserdata
xcshareddata

# codeblocks
*.layout
*.depend

# linux
*.o
*.d
*~
